*$py.class
*.cover
*.egg
*.egg-info/
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.so
*.spec
*.swo
*.swp
.DS_Store
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
.tox/
.venv
.vscode/
ENV/
__pycache__/
build/
coverage.xml
develop-eggs/
dist/
dmypy.json
downloads/
eggs/
env.bak/
env/
htmlcov/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
var/
venv.bak/
venv/
wheels/
